.main {
  min-height: 80vh;
}
.login-comp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-comp form {
  background-color: rgb(251, 242, 188);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 3rem;
  width: 500px;
}
.form-box form {
  background-color: rgb(251, 242, 188);
  padding: 1rem;
}

.form-table {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 242, 188);
  margin-top: 1.5rem;
  border-radius: 15px;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgb(251, 242, 188);
}

.thead {
  background-color: rgb(252, 219, 75);
}

button {
  justify-content: space-around;
}
